@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    background-color: aqua;
}

#loading-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-container p {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

#search-section {
    max-width: 1200px;
    margin: 72px auto;
}

#search-section header h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: rgb(138, 138, 138);
}

#search-section header p {
    margin: 12px 0 0 0;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

#search-bar-container {
    width: 60%;
    margin: 0 auto;
}

#search-bar-container input {
    margin: 100px auto 50px auto;
    padding: 8px 12px;
    background: transparent;
    color: black;
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    outline: none;
}

#results-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.grid-item {
    margin: 0 auto;
    border-radius: 15px;
    width: 360px;
    overflow: hidden;
}

.grid-item__preview {
    width: 100%;
    height: 150px;
}

.grid-item__content {
    padding: 24px;
}

.grid-item__content h3 {
    margin: 0;
    font-size: 26px;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
}

.grid-item__content p {
    margin: 4px 0 0 0;
    font-family: "Poppins", sans-serif;
    color: rgb(168, 168, 168);
}
